* {
	box-sizing: border-box;
}

html {
	font-family: 'Roboto', sans-serif;
}

header {
	background: #4C80FF;
}

.banner {
	font-size: 19px;
	text-align: center;
}

h1 {
	padding-top: 10px;
	text-align: center;
	font-family: 'Pattaya', sans-serif;
	font-size: 55px;
	background: #4C80FF;
	text-shadow: 2px 2px #003acc;
	color: #F2F5FC;
	height: 60px;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	background: #003acc;
	height: 50px;
}

li {
	float: left;
}

.a-dec {
	text-decoration: none;
	background: #003acc;
	font-size: 19px;
	color: #fff;
	padding: 0px 15px;
	line-height: 50px;
	display: block;
	border-right: 1px solid #1a5bff;
	transition: background 0.5s;
}

.a-dec:hover {
	background: #3D52FF;
	color: #fff;
}

.rightitem {
	float: right;
	font-size: 16px;
	border-left: 1px solid #1a5bff;
}

.rightitem:hover {
	background-color: #3D52FF;
}

.rightitem .log-out {
	padding: 0px 15px;
	line-height: 50px;
	margin: 0;
	background: inherit;
	font-size: 19px;
	color: white;
	border: none;
	cursor: pointer;
}

.rightitem .log-out:hover {
	background-color: #3D52FF;
}


.dropbtn {
	padding: 10px;
	background: inherit;
	font-size: 19px;
	color: white;
	border: none;
	cursor: pointer;
}

.dropdown:hover {
	background-color: #3D52FF;
}

.dropdown {
	position: relative;
	display: inline-block;
	text-decoration: none;
	background: #003acc;
	font-size: 19px;
	color: #fff;
	line-height: 50px;
	border-right: 1px solid #1a5bff;
	transition: background 0.5s;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content input {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	background-color: #3D52FF;
	display: block;
}


input[type=submit] {
	width: 100%;
	background-color: #336dff;
	color: #fff;
	padding: 5px 5px;
	margin: 1px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #003acc;
}

h2 {
	margin-top: 0px;
}

.sidebar-right input[type=text], select {
	width: 100%;
	padding: 7px 7px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.sidebar-right input[type=password], select {
	width: 100%;
	padding: 7px 7px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.sidebar-right input[type=submit] {
	width: 100%;
	background-color: #336dff;
	color: #fff;
	padding: 5px 5px;
	margin: 1px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.sidebar-right input[type=submit]:hover {
	background-color: #003acc;
}

.sidebar-right {
	width: 260px;
	float: right;
	background: #F2F5FC;
	padding: 10px 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	clear: both;
	border: 10px solid rgba(242, 245, 252, .2);
	background-clip: padding-box;
}

.sidebar-right-news {
	width: 260px;
	float: right;
	background: #F2F5FC;
	/* padding: 10px 10px; */
	margin-right: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	clear: both;
	border: 10px solid rgba(242, 245, 252, .2);
	background-clip: padding-box;
}

.content {
	margin: 0 330px 0 60px;
	background: #F2F5FC;
	padding: 40px 60px;
	border: 10px solid rgba(242, 245, 252, .2);
	background-clip: padding-box;
	border-radius: 5px;
	min-height: 700px;
}

.content input[type=text], select {
	width: 50%;
	padding: 7px 7px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.content input[type=number] {
	width: 50%;
	padding: 7px 7px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.content input[type=email] {
	clear: both;
	display: block;
	margin: auto;
	width: 50%;
	padding: 7px 7px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.content select {
	width: 50%;
	height: 30px;
	background-color: white;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.content input[type=password] {
	width: 50%;
	padding: 7px 7px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.button-add-email:hover {
	background-color: #003acc;
}

.content input[type=submit] {
	background-color: #336dff;
	color: #fff;
	padding: 5px 5px;
	margin: 1px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.content input[type=submit]:hover {
	background-color: #003acc;
}

.registration-form {
	display: block;
	margin: auto;
	width: 75%;
}

.registration-form>section {
	display: block;
	overflow: auto;
	position: relative;
	margin: 5px;
}

.registration-form>section>section {
	display: block;
	overflow: auto;
	position: relative;
	margin: 5px;
}

.registration-form label {
	display: block;
	float: left;
	clear: left;
	top: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30%;
	margin: auto;
}

.registration-form label ~ input, select {
	float: right;
	display: block;
	margin: auto;
}

.registration-form p {
	clear: both;
	display: block;
	margin: auto;
	float: right;
	color: red;
	font-size: 12px;
}

.registration-form input[type=submit] {
	width: 30%;
	clear: left;
	display: block;
	margin-top: 30px;
	float: right;
}

.main p {
	text-align: justify;
}

.main-toto {
	width: 80%;
	margin: auto;
}

.bottom {
	margin-top: 20px;
	display: block;
	background-color: #003acc;
	position: absolute;
	width: 100%;
}

.bottom_clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.bottom_sidebar-left {
	margin-left: 20px;
	width: 50%;
	padding-left: 10px;
	float: left;
	display: block;
	color: #fff;
}

.bottom_content {
	width: 40%;
	float: left;
	display: block;
	color: #fff;;
}

.bottom_content a {
	color: #e6ffff;
}

a {
	color: #4D3DA8;
	transition: color 0.5s;
}

a:hover {
	color: #0000e6;
}

body {
	background-image: url("../IMG/body_content.jpg");
	background-size: cover;
	background-attachment: fixed;
}

legend {
	color: #336dff;
	border: 0;
	border-bottom: 1px solid #336dff;
	text-shadow: 1px 1px #003acc;
}

table {
  font-size: 14px;
  border-spacing: 0;
  border-collapse: collapse;
}

td, th {
  padding: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
 
.table-bordered {
  border: 1px solid #ddd;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}


.change-password-button {
	margin: 5px 5px;
	clear: both;
	float: right;
}